@font-face {
  font-family: "Vividly";
  src: url("vividly-Regular.woff2") format("woff2"),
       url("vividly-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-size: 2.0em;
}