@font-face {
  font-family: "Vividly";
  src: url("Vividly-Regular.woff2") format("woff2"),
       url("Vividly-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-size: 5.0em;
}